@import "tailwindcss";

html {
  font-size: 92%;
}

@media (max-width: 640px) {
  html {
    font-size: 100%;
  }
}

body {
  margin: 0;
  background-color: #020617;
  color: #e2e8f0;
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
  text-rendering: optimizeLegibility;
}
